*{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  box-sizing: border-box;
}
body{
  font-family: arial;
}
section{
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -275px;
  padding: 100px 0 0 0;
  /* background-color: orange; */
}
.header-contact{
  text-align: center;
}
.header-contact h2{
  font-size: 14px;
  font-weight: 1;
  letter-spacing: 3px;
  line-height: 30px;
  color:#888A8E;
}
.header-contact h1{
  margin-bottom: 20px;
  font-size: 80px;
  padding-left: 5px;
  /* line-height: 110px; */
}
.container{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px 20px #00000010;
  background-position: white;
  border-radius: 8px;
  margin-bottom: 20px;
}
.form-group{
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 20;
}
.form-group input,
.form-group textarea{
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}
textarea{
  resize: vertical;
}
button[type="submit"]{
  font-weight:525;
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: arial;
  color: black;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: .3 ease background-color;
}
button[type="submit"]:hover{
  background-color: red;
  color: white;
}
#status{
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success{
  background-color: rgb(211,250,153);
  animation: status 4s ease forwards;
}
#status.error{
  background-color: rgb(250,129,92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0%{
    opacity: 1;
    pointer-events: all;
  }
  90%{
    opacity: 1;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: none;
  }
}
/* menu */
.menu{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 40px 0px 0px 40px;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
}
.menu img{
  width: 50px;
}
.menu-click{
  z-index: 999;
  left: 40px;
  padding: 10px 30px;
  background-color: #333333;
  width: 160px;
  box-sizing: 0 5px 25px rgba(0,0,0,0.1);
  border-radius: 15px;
  transition: 0.5s;
  color: white;
  padding-left: 50px;
  visibility:hidden;
  opacity: 0;
  position: sticky;
  top: 95px;
}
.menu-click a{
  text-decoration: none;
  color: white;
  line-height: 40px;
}
.menu-click.active{
  visibility: visible;
  opacity: 1;
}
.menu-click ul li:hover{
  color:red;
  opacity: 1;
}
@media only screen and (max-width: 600px){
  .header-contact h2{
    margin-top: 200px;
  }
}
